.main-wrapper-card{
    color: white;
    background-image: url('../../../public/assets/component-shopping-list/background-yellow.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #DB611A;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content-buffer{
    flex: 1;
    background-color: #EFEFEF;
}

.headline{
    height: 80px;
    padding-top: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    icon{
    font-size: 38px;
    margin: 8px 8px;
    }
}

app-shopping-list-container{
    width: 100%;
}

app-shoppinglist-menu{
position: absolute;
width: 100%;
background-color: #dedede;
}

.content-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.content-wrapper::-webkit-scrollbar-thumb{
    background-color:#DB611A;
    border-radius: 8px;

}

.content-wrapper::-webkit-scrollbar{
    width: 10px;
    background-color: white;
    opacity: 0;
}

.content-wrapper app-shopping-list-container:nth-child(even), .content-wrapper app-list-container-edit:nth-child(even){
    display: block;
    width: 100%;
    background-color: white;
}

.content-wrapper app-shopping-list-container:nth-child(odd), .content-wrapper app-list-container-edit:nth-child(odd){
    display: block;
    width: 100%;
    background-color: #EFEFEF;
}

.container-wrapper{
    overflow-y: auto;
    display: flex;
    justify-content: space-between;

    padding: 24px;
    width: 100%;
    height: 100%;
}

.footer{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #DB611A;
    border-radius: 0px 0px 12px 12px;
}

.flex-grow{
    height: 100%;
    display: flex;
    flex-grow: 1;
    background-color: rgb(209, 70, 39);
}

.button-outline{
    &:hover{
        border-color: #DB611A;
        color: #DB611A;
    }
}

.empty-slot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 23px;
    background-color: #e8e8e8;
    color: #949494;
    border: 1px dashed #dedede;;
}