<div class="overview">
    <div class="overview-wrapper">
        <icon class="BigIcon">warning</icon>
        <h4>There is no Item!</h4>
        <p>You have to add an item to your list, if you want to call this action.</p>
        <div class="flow-row">
            @if(!isDisableBackButton){<div (click)="closeWindows()" class="button-outline"><icon>arrow_back</icon>Back</div>}
            <div (click)="router.switchModus('addItem')" class="button-full"><icon>add</icon>Add Item</div>
        </div>
    </div>
</div>