.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-birthsday{
    margin: 8px;
    max-width: 325px;
    width: 100%;
    max-height: 300px;
}

app-quotation{
    margin: 8px;
    max-width: 675px;
    width: 100%;
}

.content-wrapper{
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}




