
<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="grid-container">
            <app-quotation class="grid-item item1"></app-quotation>
            <app-birthsday class="grid-item item2"></app-birthsday>
            <app-shopping-list class="grid-item item3"></app-shopping-list>
            <div class="grid-item item4">Testbox_4</div>
            <div class="grid-item item5">Testbox_5</div>
            <app-daytime class="grid-item item6"></app-daytime>
            <div class="grid-item item7">Testbox_7</div>
            <div class="grid-item item8">Testbox_8</div>
            <app-bookmark class="grid-item item9"></app-bookmark>
        </div>
    </div>

</div>
