
<div class="menu-wrapper">
    <icon (click)="toggleMenu()" id="shopping-list-menu" class="main-menu-icon">menu</icon>
    <div class="menu-container">
        <div class="animation-frame" [ngClass]="isShowMenu ? 'animation-open' : 'animation-close'">
            <nav class="menu-nav">
                <ul>
                    <li (click)="router.switchModus('addItem'); toggleMenu()"><icon>add</icon>Add Item</li>
                    <li (click)="checkBeforSend('delteItems'); toggleMenu()"><icon>delete</icon>Empty List</li>
                    <li (click)="checkBeforSend('email'); toggleMenu()"><icon>forward_to_inbox</icon>Send To Mail</li>
                    <li (click)="checkBeforSend('whatsApp'); toggleMenu()"><icon>sms</icon>WhatsApp-WebApp</li>
                    <li (click)="router.switchModus('changeData'); toggleMenu()"><icon>person</icon>Change Receiver</li>
                </ul>
            </nav>
        </div>
    </div>
</div>


