.server-wrapper{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-content-wrapper{
    width: 90%;
    justify-content: center;
}

.head-area{
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 16px;

    .icon{
        position: relative;
    }

    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        aspect-ratio: 1/1;
    }

}

.online-status{
    bottom: -3px;
    right: -5px;
    position: absolute;
    height: 12px;
    width: 12px;
    aspect-ratio: 1/1;
    background-color: #707070;
    border-radius: 50%;
    border: 3px solid white;
}

.status{
    color: #e01717;
}

.online{
    background-color: #87BE2D;
}

.online-color{
    color: #87BE2D;
}

.bottom-area{
    margin-top: 16px;
    position: relative;
    color: #8D8D8D;

    span{
        color: #fff
    }
}

.refresh{
    position: absolute;
    bottom: 24px;
    right: 32px;
}

.edit{
    position: absolute;
    right: 32px;
    top:24px;
    &:hover{
        cursor: pointer;
        color: #87BE2D;
        scale: (1.2);
    }

    icon{
        font-size: 24px;
    }
}