.main-wrapper-card {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #871ADB;
    background-image: url(../../../public/assets/component-birthday/background-purble.png);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    position: relative;
}

app-birthday-navigation {
    width: 100%;
}


.name-container {
    width: 100%;
    margin: 8px 0px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    width: 60%;
    border: 0px;
    border-top: 2px solid white;
    height: 1px;
}

.name-container {
    width: 100%;

    p {
        color: #FFD400;
    }
}

.button-outline {
    margin-top: 18px;

    &:hover {
        color: #871ADB;
        border-color: #871ADB;
        ;
    }
}