<div class="overview">
    <div class="overview-wrapper">
        <h4>Change your Data</h4>
        <p>Save your current Phonenumber and Email</p>
        <form #changePersonDataForm="ngForm" (ngSubmit)="onSubmit(changePersonDataForm)">

            <div class="errorBox">
                @if(phoneNumberInput.touched && phoneNumberInput.errors?.['required']){
                    <span>Phonenumber is required!</span>
                } @else if (phoneNumberInput.errors?.['minlength'] && phoneNumberInput.touched) {
                    <span>Number needs min. 8 characters!</span>
                } @else if (phoneNumberInput.errors?.['pattern'] && phoneNumberInput.touched) {
                    <span>Only '+' and numbers allowed</span>
                } @else if(emailInput.touched && emailInput.errors?.['required']){
                    <span>E-mail is required!</span>
                }@else if (emailInput.errors?.['minlength'] && emailInput.touched) {
                    <span>E-Mail needs min. 6 characters!</span>
                } @else if (emailInput.errors?.['pattern'] && emailInput.touched) {
                    <span>no valid Email</span>
                }
            </div>
            <input name="phoneNumber" type="text" #phoneNumberInput="ngModel" required [placeholder]="phoneNumberForUserView" minlength="8"[(ngModel)]="phoneNumber" pattern="[\d+ ]+">
            <input name="email" type="email" #emailInput="ngModel" required [placeholder]="emailForUserView" [(ngModel)]="email" minlength="6" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            <div class="flow-row">
                <div (click)="closeWindows()" class="button-outline"><icon>arrow_back</icon>Back</div>
                <button [disabled]="changePersonDataForm.invalid" class="button-full"><icon>check</icon>Save</button>
            </div>
        </form>
    </div>
</div>