.container{
    background-image: url('../../../public/assets/component-quotation/background-blue.png');
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    width: 100%;
    background-color: #1456AD;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    min-height: 110px;
}

.text-block{
    padding: 24px;
    width: 85%;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.source-block{
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 24px;
}

.animation-circle{
	width: 60px;
	height: 60px;
    aspect-ratio: 1 / 1;
	border:solid 5px #ffffff;
	border-radius: 50%;
    border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	-webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate; 
    animation-duration: 1.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-iteration-count:infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}